<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computer.boot.mapper.QuestionMapper">

    <resultMap type="com.computer.boot.model.Question" id="Question">
        <result property="id" column="ID"/>
        <result property="gmtCreat" column="GMT_CREAT"/>
        <result property="isDeleted" column="IS_DELETED"/>
        <result property="questionType" column="QUESTION_TYPE"/>
        <result property="content" column="CONTENT"/>
        <result property="option" column="OPTION"/>
        <result property="analysis" column="ANALYSIS"/>
        <result property="subjectId" column="SUBJECT_ID"/>
        <result property="kind" column="KIND"/>
        <result property="directoryId" column="DIRECTORY_ID"/>
        <result property="sortKeyNumber" column="SORT_KEY_NUMBER"/>
        <result property="extraInfo" column="EXTRA_INFO"/>
    </resultMap>

    <update id="deleteCurrentQuestion">
        UPDATE COMPUTER_QUESTION
        SET IS_DELETED = 'Y'
        WHERE SUBJECT_ID = #{subjectId}
        AND DIRECTORY_ID = #{directoryId}
        AND SORT_KEY_NUMBER=#{sortKeyNumber}
        AND IS_DELETED = 'N'
    </update>

    <insert id="insertQuestionData" parameterType="com.computer.boot.model.Question">
        INSERT INTO COMPUTER_QUESTION(
        ID,
        GMT_CREAT,
        IS_DELETED,
        QUESTION_TYPE,
        CONTENT,
        COMPUTER_QUESTION.OPTION,
        ANALYSIS,
        SUBJECT_ID,
        KIND,
        DIRECTORY_ID,
        SORT_KEY_NUMBER,
        EXTRA_INFO)
        VALUES(
        null,
        null,
        'N',
        #{questionType},
        #{content},
        #{option},
        #{analysis},
        #{subjectId},
        #{kind},
        #{directoryId},
        #{sortKeyNumber},
        #{extraInfo})
    </insert>

    <select id="hasExistCurrentQuestion" resultType="long">
        SELECT COUNT(*) FROM COMPUTER_QUESTION
        WHERE SUBJECT_ID = #{subjectId}
        AND DIRECTORY_ID = #{directoryId}
        AND SORT_KEY_NUMBER=#{sortKeyNumber}
        AND IS_DELETED = 'N'
    </select>

    <select id="getQuestionListBySubDirAndType" resultMap="Question">
        SELECT * FROM COMPUTER_QUESTION
        WHERE SUBJECT_ID = #{subjectId}
        AND DIRECTORY_ID = #{directoryId}
        AND QUESTION_TYPE = #{questionType}
        AND IS_DELETED = 'N'
        ORDER BY SORT_KEY_NUMBER
    </select>

    <select id="selectTotalNumber" resultType="long">
        SELECT COUNT(*) FROM COMPUTER_QUESTION
        WHERE SUBJECT_ID = #{subjectId}
        AND DIRECTORY_ID = #{directoryId}
        AND IS_DELETED = 'N'
    </select>

    <select id="queryQuestionListByKeyWord" resultMap="Question">
        SELECT * FROM COMPUTER_QUESTION
        <where>
            <if test="keyWord != null">
                EXTRA_INFO LIKE CONCAT('%','${keyWord}','%' )
            </if>
            AND IS_DELETED = 'N'
            AND SUBJECT_ID = #{subjectId}
        </where>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="queryTotalNumber" resultType="long">
        SELECT COUNT(*) FROM COMPUTER_QUESTION
        <where>
            <if test="keyWord != null">
                EXTRA_INFO LIKE CONCAT('%','${keyWord}','%' )
            </if>
            AND IS_DELETED = 'N'
            AND SUBJECT_ID = #{subjectId}
        </where>
    </select>

    <select id="getQuestionById" resultMap="Question">
        SELECT * FROM COMPUTER_QUESTION
        WHERE ID = #{id}
        AND IS_DELETED = 'N'
    </select>

    <!--SELECT * FROM t_app-->
    <!--<where>-->
    <!--<if test="name != null">-->
    <!--name like CONCAT('%','${name}','%' )-->
    <!--</if>-->
    <!--<if test="url != null">-->
    <!--AND url like CONCAT('%','${url}','%' )-->
    <!--</if>-->
    <!--</where>-->
    <!--limit #{begin},${end}-->

</mapper>