<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computer.boot.mapper.QuestionMapper">

    <resultMap type="com.computer.boot.model.Question" id="Question">
        <result property="id" column="ID"/>
        <result property="questionType" column="QUESTION_TYPE"/>
        <result property="content" column="CONTENT"/>
        <result property="option" column="OPTION"/>
        <result property="analysis" column="ANALYSIS"/>
        <result property="subjectId" column="SUBJECT_ID"/>
        <result property="kind" column="KIND"/>
        <result property="directoryId" column="DIRECTORY_ID"/>
    </resultMap>

    <select id="getQuestionListBySubDirAndType" resultMap="Question">
        SELECT * FROM COMPUTER_QUESTION
        WHERE SUBJECT_ID = #{subjectId}
        AND DIRECTORY_ID = #{directoryId}
        AND QUESTION_TYPE = #{questionType}
        AND IS_DELETED = 'N'
        ORDER BY SORT_KEY_NUMBER
    </select>

    <select id="selectTotalNumber" resultType="long">
        SELECT COUNT(*) FROM COMPUTER_QUESTION
        WHERE SUBJECT_ID = #{subjectId}
        AND DIRECTORY_ID = #{directoryId}
        AND IS_DELETED = 'N'
    </select>

    <select id="queryQuestionListByKeyWord" resultMap="Question">
        SELECT * FROM COMPUTER_QUESTION
        <where>
            <if test="keyWord != null">
                EXTRA_INFO LIKE CONCAT('%','${keyWord}','%' )
            </if>
            AND IS_DELETED = 'N'
            AND SUBJECT_ID = #{subjectId}
        </where>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="queryTotalNumber" resultType="long">
        SELECT COUNT(*) FROM COMPUTER_QUESTION
        <where>
            <if test="keyWord != null">
                EXTRA_INFO LIKE CONCAT('%','${keyWord}','%' )
            </if>
            AND IS_DELETED = 'N'
            AND SUBJECT_ID = #{subjectId}
        </where>
    </select>

    <select id="getQuestionById" resultMap="Question">
        SELECT * FROM COMPUTER_QUESTION
        WHERE ID = #{id}
        AND IS_DELETED = 'N'
    </select>

    <!--SELECT * FROM t_app-->
    <!--<where>-->
    <!--<if test="name != null">-->
    <!--name like CONCAT('%','${name}','%' )-->
    <!--</if>-->
    <!--<if test="url != null">-->
    <!--AND url like CONCAT('%','${url}','%' )-->
    <!--</if>-->
    <!--</where>-->
    <!--limit #{begin},${end}-->

</mapper>